# Ignore virtual environments
venv/
ENV/
env/

# Ignore dotenv file with secrets
.env

# VSCode settings (optional)
.vscode/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Logs and backups
*.log
*.bak
*.swp
